<div class="nav row col-12 py-3">

  <div class="contact centerCenter col-md-3 col-6">
    <div class="centerCenter rounded-2 transition"><i class="bi bi-facebook"></i></div>
    <div class="centerCenter rounded-2 transition"><i class="bi bi-twitter"></i></div>
    <div class="centerCenter rounded-2 transition"><i class="bi bi-instagram"></i></div>
    <div class="centerCenter rounded-2 transition"><i class="bi bi-linkedin"></i></div>

  </div>
  <div class="div-2 centerCenter col-md-6 col-12 d-none d-md-block">
    <h6>FREE SHIPPING THIS WEEK ORDER OVER - $55</h6>
  </div>
  <div class="div-3 centerCenter col-md-3 col-6">
    <select name="currency" id="">
      <option value="sd" selected>EUR €</option>
      <option value="sd">USD $</option>
    </select>
    <select name="language" id="">
      <option value="sd" selected>ENGLISH</option>
      <option value="sd">ARABIC</option>
      <option value="sd">FRANCAIS</option>
    </select>

  </div>


  <div class="div-2 centerCenter col-md-6 col-12 d-block d-md-none">
    <h6 class=" text-center pt-3 pt-md-0">FREE SHIPPING THIS WEEK ORDER OVER - $55</h6>
  </div>
</div>
<hr>
<div class="nav-2 row col-12 py-4">
  <div class="logo col-lg-2 offset-lg-1 col-4 centerCenter"></div>






  <div class="search col-lg-5 col-8 px-3">
    <input type="text" class="w-100 p-2 border-0 border-bottom" placeholder="Enter your product name...">
  </div>


  <div class="persoal centerBetween col-md-2 offset-md-1 d-lg-flex d-none">
    <div class="icon"><i class="bi bi-person"></i>
      <div class="centerCenter">2</div>
    </div>
    <div class="icon"><i class="bi bi-heart"></i>
      <div class="centerCenter">2</div>
    </div>
    <div class="icon"><i class="bi bi-bag"></i>
      <div class="centerCenter">2</div>
    </div>
  </div>
</div>
<hr>
