<div class="header col-12 centerCenter ">
  <div class="col-10 d-flex flex-row headerScrollStyle imgs">

    <div class="col-12 div-1">
      <div class="col-5 offset-1 d-flex align-items-start justify-content-center flex-column bg">
        <h2>Trending item</h2>
        <h1>Women's latest fashion sale</h1>
        <h3>starting at $<span>20</span>.00</h3>
        <button class=" btn ">SHOP NOW</button>
      </div>
    </div>
    <div class="col-12 div-2">
      <div class="col-4 offset-1 d-flex align-items-start justify-content-center flex-column">
        <h2>Trending accessories</h2>
        <h1>Modern sunglasses</h1>
        <h3>starting at $<span>15</span>.00</h3>
        <button class=" btn ">SHOP NOW</button>
      </div>
    </div>
    <div class="col-12 div-3">
      <div class="col-4 offset-1 d-flex align-items-start justify-content-center flex-column">
        <h2>Sale Offer</h2>
        <h1>New fashion summer sale</h1>
        <h3>starting at $<span>29</span>.00</h3>
        <button class=" btn ">SHOP NOW</button>
      </div>
    </div>
  </div>
</div>
