

<div class="col-12 row m-0 px-5 summer centerCenter">
  <div class="col-12 row ">
    <div class="col-12 col-lg-3 my-3 my-lg-0">
      <div class="col-12">
        <p class="border-bottom fs-5 fw-bold mb-4">Testimonial</p>
        <div class="col-12 border rounded-3 Testimonial centerCenter flex-column">
          <div class="testImg"></div>
          <p class="fw-bolder fs-5 text-secondary">ALAN DOE</p>
          <p>CEO & Founder Invision</p>
          <div class="quts"></div>
          <p style="font-size: 17px;" class="text-secondary">Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor
            dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 my-3 my-lg-0">
      <div class="col-12 services">
        <div class="col-8 servicesImg centerCenter">
          <div class="bg-white bg-opacity-75 centerCenter flex-column">
            <p class="bg-black rounded-2 text-white px-2 py-1 fw-bolder fs-5">25% Discount</p>
            <p class="m-0  fw-bold fs-3 text-center">Summer </p>
            <p class="m-0  fw-bold fs-3 text-center"> collection</p>
            <p class="m-0 text-secondary fs-5">Starting $10</p>
            <p class="m-0 text-secondary fw-bolder fs-6">SHOP NOW</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 my-3 my-lg-0">
      <div class="col-12">
        <p class="border-bottom fs-5 fw-bold mb-4">Our Services</p>
        <div
          class="col-12 border rounded-3 d-flex align-items-start justify-content-center flex-column service-container py-3">
          <div class="service-item d-flex align-items-center justify-content-start">
            <i class="bi bi-globe-europe-africa fs-2 me-3 mainColor transition"></i>
            <div>
              <p class="text-secondary fw-bolder">Worldwide Delivery</p>
              <p class="text-secondary">For Order Over $100</p>
            </div>
          </div>
          <div class="service-item d-flex align-items-center justify-content-start">
            <i class="bi bi-rocket-takeoff fs-2 me-3 mainColor transition"></i>
            <div>
              <p class="text-secondary fw-bolder">Next Day Delivery</p>
              <p class="text-secondary">UK Orders Only</p>
            </div>
          </div>
          <div class="service-item d-flex align-items-center justify-content-start">
            <i class="bi bi-phone fs-2 me-3 mainColor transition"></i>
            <div>
              <p class="text-secondary fw-bolder">Best Online Support</p>
              <p class="text-secondary">Hours: 8AM - 11PM</p>
            </div>
          </div>
          <div class="service-item d-flex align-items-center justify-content-start">
            <i class="bi bi-arrow-return-left fs-2 me-3 mainColor transition"></i>
            <div>
              <p class="text-secondary fw-bolder">Return Policy</p>
              <p class="text-secondary">Easy & Free Return</p>
            </div>
          </div>
          <div class="service-item d-flex align-items-center justify-content-start">
            <i class="bi bi-ticket-detailed-fill fs-2 me-3 mainColor transition"></i>
            <div>
              <p class="text-secondary fw-bolder">30% money back</p>
              <p class="text-secondary">For Order Over $100</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
